@model IEnumerable<LegoShop.Data.Entities.OrderStatus>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista statusów zamówień</h1>
<h4>Dostęp tajny</h4>

<p>
    <a asp-action="Create">Stwórz nowy status</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConstId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConstId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj status</a>
                @if(!item.IsImmutable)
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń status</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
