@model IEnumerable<LegoShop.Data.Entities.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Twoje zamówienia</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-controller="Products" asp-action="Details" class=orderpodglad asp-route-id="@item.Product.Id">@Html.DisplayFor(modelItem => item.Product.Name)</a>
            </td>
            @if(User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.Name)
            </td>

            <td>
                @if (item.OrderStatus.ConstId != 7)
                {
                    <a asp-action="CancelOrder" class="cancelorder" asp-route-id="@item.Id">Anuluj</a>
                }
                @if(User.IsInRole("Admin"))
                {
                        <a asp-action="Details" class="detailsorder" asp-route-id="@item.Id">Szczegóły</a>
                        <a asp-action="Edit" class="editorder" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="Delete" class="deleteorder" asp-route-id="@item.Id">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>