@model LegoShop.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Zamawianie produktu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MosaicType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MosaicType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImageUrl" alt="Obrazek" width="200" height="200" />
        </dd>
    </dl>
</div>
<div>
    <form asp-action="CreateOrder">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kup produkt" class="buttonbuy" />
    </form>
    <form asp-action="CreateOrder">
        <a asp-action="Details" asp-route-id="@Model?.Id" class="buttonback">Powrót</a>
    </form>
</div>
