@model LegoShop.Data.Entities.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie produktu</h1>

<h3>Jesteś pewny żeby usunąć ten produkt?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MosaicType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MosaicType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrameColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrameColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
    </div>
    <div class="obok">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń produkt" class="deleteproduct" />
        <a asp-action="Details" class=backtoproduct2 asp-route-id="@Model?.Id">Powróć do produktu</a>
    </form>
    </div>
    <style>
    .obok form {
        display: inline-flex;
        align-items: center;
    }

    .obok form > * {
        margin-right: 10px; /* Dodaj odpowiedni margines między elementami */
        align-items: center;
    }
</style>