@model IEnumerable<LegoShop.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="header">
<h1>Stwórz swoją mozaikę z LEGO</h1>
</div>

<div class="centered-button">
    <a class="buttontest" asp-action="Create">Zacznij teraz!</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Typ klocka</th>
            <th>Rozmiar ramki</th>
            <th>Kolor ramki</th>
            <th>Twój obrazek</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MosaicType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrameColor)
            </td>
            <td>
                <img class="small-square-image" src="@item.ImageUrl" alt="Opis obrazka" />
            </td>
            <td>
                <a asp-action="CreateOrder" asp-route-id="@item.Id" class="button-link">Kup produkt</a>
                </td>
                <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="button-link-two">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
